@page
@model ErrorModel

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Error"];
}

<div class="row pb-3 justify-content-center">
    <div class="card col-lg-4">
        <h1 class="text-danger">Error.</h1>
        <h2 class="text-danger">An error occurred while processing your request.</h2>

        @if (Model.ShowRequestId)
        {
            <p>
                <strong>@Localizer["Request ID:"]</strong> <code>@Model.RequestId</code>
            </p>
        }

        <hr />
        <p>
            @Localizer["Please contact the administrator if this problem persists"];
        </p>

    </div>
</div>