@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}


<div class="row justify-content-center">
    <div class="col-md-6 card">
        <section class="card-body">
            <h2>@ViewData["Title"]</h2>
            <p>
                Thank you for confirming your email.
            </p>
        </section>
    </div>
</div>
