@page
@model RegisterConfirmationModel
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Registration Confirmation"];
}

<div class="row justify-content-center p-5">
    <div class="col-md-6 card">
        <h1>@ViewData["Title"]</h1>
        <hr />
        <p class="text-center">
            @Localizer["Confirmation_Message"]
        </p>
    </div>
</div>
