@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Registration Confirmation";
}

<div class="row justify-content-center p-5">
    <div class="col-md-6 card">
        <h1>@ViewData["Title"]</h1>
        <hr />
        <p class="text-center">
            Thank you for registering. You will need to confirm your e-mail before logging in. <br />
            Please check your inbox (including your spam folder) for your activation link.
        </p>
    </div>
</div>
