@page
@model LVIDiagnosticConcordanceStudy.Pages.Case.SummaryModel
@{
}
<div class="row justify-content-center pt-4 pb-3">
    <table class="table col-8">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Case #</th>
                <th scope="col">Tumour Grade</th>
                <th scope="col">Number of LVI</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            @{
                int reportCount = 0;
            }

            @for (int i = 0; i < Model.CaseCount; i++)
            {
                <tr>
                    <th scope="row">@(i + 1)</th>
                    @if (Model.SubmittedReports.Contains(i))
                    {
                        <td>@Model.Reports[reportCount].TumourGrade</td>
                        <td>@Model.Reports[reportCount].NumberofLVI</td>
                        @if (Model.Reports[reportCount].IsSubmitted)
                        {
                            <th scope="row" class="text-success">Submitted</th>
                        }
                        else
                        {
                            <th scope="row" class="text-primary">Incomplete</th>
                        }
                        reportCount++;
                    }
                    else
                    {
                        <td></td>
                        <td></td>
                        <th scope="row" class="text-primary">Incomplete</th>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>