@page "{id:int?}"
@model LVIDiagnosticConcordanceStudy.Pages.Admin.Cases.EditModel
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Edit Case"];
}

<div class="row p-4 justify-content-center">
    <div class="card col-lg-6">
        <h2 class="card-header">@ViewData["Title"]</h2>
        <form class="card-body" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Case.CaseNumber" class="control-label"></label>
                <input asp-for="Case.CaseNumber" class="form-control" />
                <span asp-validation-for="Case.CaseNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Case.PatientAge" class="control-label"></label>
                <input asp-for="Case.PatientAge" class="form-control" />
                <span asp-validation-for="Case.PatientAge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Case.TumourSize" class="control-label"></label>
                <input asp-for="Case.TumourSize" class="form-control" />
                <span asp-validation-for="Case.TumourSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Case.SlideURL" class="control-label"></label>
                <input asp-for="Case.SlideURL" class="form-control" />
                <span asp-validation-for="Case.SlideURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-outline-secondary btn intro-btn" /> |
                <a class="btn btn-secondary" asp-page="./Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}