@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<div class="admin">
    <h2>Manage your account</h2>

    <div>
        <h4 class="admin-subheader">Change your account settings</h4>
        <hr />
        <div class="row">
            <div class="col-md-3 py-2">
                <partial name="_ManageNav" />
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>

    @section Scripts {
        @RenderSection("Scripts", required: false)
    }
</div>

